  
  *{
  	padding:0px;
  	font-family: 'Poppins', sans-serif;
  }
  .heading-div{
  	padding-bottom: 50px;
  	width: 100%;
  	vertical-align: center;
  	color: white;
  	text-align: center;
  	font-size: 50px;
  	font-weight: bold;
  }

  .ax p{
  	text-align: center;
  }

	.form-group{
		font-size: 30px;
		color: #ffffff;
		text-align: center;
		padding-top:40px;
	}
	.form-group-tax{
		font-size: 30px;
		color: #ffffff;
		text-align: center;
	}
	.form-control{
		width:150px;
	}
  .form-desigin{
  	margin-top: 200px;
  	margin-right: auto;
  	margin-left: auto;
  	background-color: #000000;
  	opacity: 85%;
  	padding: 50px;
  	border-radius: 15px;
  	box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
  	width: 600px;
  }
  body{
  	background-image: url("tax-background.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  }